@model IEnumerable<KoolApplicationMain.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="row">
    @foreach (var m in Model)
    {
        <div class="col-md-4">
            <div class="row">
                <h4>
                    <span id="mobilename" style="color:darkred"> @m.Description </span>
                </h4> <p>
                    <span class="glyphicon glyphicon-heart" style="color:red;pointer-events:fill" contextmenu="Added To WishList"> </span>
                </p>
            </div>
            <p>
                <a>
                    <img src="~/images/@(m.ItemNumber).jpg" style="overflow: hidden; position: relative; width:200px; height:200px;" />
                </a>
            </p>
            <div>
                <button class="btn btn-default" type="button" data-toggle="modal" data-target="#@(m.ItemNumber)" dat-img="~/images/@(m.ItemNumber).jpg">
                    View Details..
                </button>
                <div class=" tryiton modal fade" id="@(m.ItemNumber)">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    &#9747;
                                </button>
                                <h4 class="modal-title">Product View</h4>
                            </div>
                            <div class="modal-body mbody">
                                <div class="row">
                                    <div class="col-md-6">


                                        <div class="img-box">
                                            <img src="~/images/@(m.ItemNumber).jpg" class="img-responsive" alt="product" />
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <h4>
                                            @Html.DisplayFor(modelItem => m.Description)
                                        </h4>
                                        <h3>@Html.DisplayFor(modelItem => m.Description)</h3>
                                        <div>
                                            <span><b>Price </b>&#36;@Html.DisplayFor(modelItem => m.Price)</span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a asp-area="" asp-controller="Home" asp-action="Similar" asp-route-type="@(m.Description)" style="font-size:x-large;color:black">
                                    Get kooler>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                <span class="glyphicon glyphicon-shopping-cart" style="color:green"></span>
            </p>
        </div>
    }
</div>


